@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

body {
  min-width: 1200px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 16px 55px 16px 54px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13034;
  box-shadow: inset 0 3px 0 0 #c13034;
}

.list-formatter {
  margin: 0;
  padding: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header {
  padding-top: 49px;

  background-color: #eeeeee;
}

.page-header .columns {
  justify-content: space-between;
  align-items: flex-start;

  -webkit-box-align: start;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-pack: justify;
}

.page-header__container {
  margin-right: 45px;
}

.inner-page .page-header__logo:hover,
.inner-page .page-header__logo:focus {
  opacity: 0.8;
}

.inner-page .page-header__logo:active {
  opacity: 0.3;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 440px;
  margin-top: 26px;
  margin-right: 40px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.menu__item {
  margin-right: 45px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:last-child a {
  letter-spacing: 0.3px;
}

.menu__item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.menu__item a:hover,
.menu__item a:focus {
  color: #fb565a;
}

.menu__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu__item--current {
  border-bottom: 2px solid #fb565a;
}

.page-header__cart {
  margin-top: 27px;
  margin-left: 45px;
  padding-left: 42px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 2px 6px;
}

.page-header__cart:hover,
.page-header__cart:focus {
  color: #fb565a;
}

.page-header__cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-content__bg {
  background-color: #eeeeee;
}

.page-content__main-title {
  margin: 0;
  margin-bottom: 53px;
  padding-top: 71px;
  padding-bottom: 108px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.main-content__slider {
  background-color: #eeeeee;
}

.main-content__slider .container {
  position: relative;
}

.slider__input {
  display: none;
}

.slider__change-btn {
  position: absolute;
  top: 309px;
  right: 535px;
  z-index: 10;

  display: inline-block;
  width: 20px;
  height: 20px;

  vertical-align: middle;
}

.slider__change-btn:nth-of-type(1) {
  right: 605px;
}
.slider__change-btn:nth-of-type(2) {
  right: 570px;
}
.slider__change-btn:nth-of-type(3) {
  right: 535px;
}

.slider__change-btn::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;

  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
}

.slider__change-btn::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;

  display: none;
  width: 4px;
  height: 4px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__input:nth-of-type(1):checked
  ~ .slider__change-btn:nth-of-type(1)::after {
  display: block;
}

.slider__input:nth-of-type(2):checked
  ~ .slider__change-btn:nth-of-type(2)::after {
  display: block;
}

.slider__input:nth-of-type(3):checked
  ~ .slider__change-btn:nth-of-type(3)::after {
  display: block;
}

.sliders__item {
  position: relative;

  display: none;
  margin-bottom: 80px;
  padding-top: 10px;
  padding-bottom: 80px;
}

.sliders__item:nth-of-type(1) .sliders__wrapper {
  width: 425px;
}

.sliders__item:nth-of-type(2) .sliders__wrapper {
  width: 520px;
}

.sliders__item:nth-of-type(3) .sliders__wrapper {
  width: 415px;
}

.sliders__slogan {
  margin-top: 61px;
  margin-bottom: 27px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.sliders__item:nth-of-type(2) .sliders__slogan {
  letter-spacing: 0.1px;
}

.sliders__item:nth-of-type(3) .sliders__slogan {
  letter-spacing: 0.4px;
}

.sliders__text {
  margin-bottom: 38px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.sliders__item img {
  position: absolute;
}

.sliders__item:nth-of-type(1) img {
  top: 11px;
  right: 31px;
}

.sliders__item:nth-of-type(2) img {
  top: -6px;
  right: 1px;
}

.sliders__item:nth-of-type(3) img {
  top: 12px;
  right: 0;
}

.sliders__item:nth-of-type(2) .sliders__text {
  width: 410px;
}

.sliders__item:nth-of-type(3) .sliders__text {
  width: 370px;
}

.slider__input:nth-of-type(1):checked ~ .sliders__item:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__input:nth-of-type(2):checked ~ .sliders__item:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__input:nth-of-type(3):checked ~ .sliders__item:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content__advantages {
  background-color: #ffffff;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  border-bottom: 2px solid #eeeeee;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.advantages-list__item {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 67px;
}

.advantages-list__item:nth-child(3n + 3) {
  margin-right: 0;
}

.advantages-list__title {
  margin-top: 23px;
  margin-bottom: 21px;

  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list__text {
  width: 260px;
  margin-bottom: 32px;
}

.advantages-list__item:nth-of-type(1) .advantages-list__text {
  letter-spacing: -0.1px;
}

.advantages-list__item:nth-of-type(2) .advantages-list__text {
  letter-spacing: 0.2px;
}

.advantages-list__btn {
  margin-bottom: 13px;
  padding: 16px 40px 16px 40px;
}

.advantages-list__btn--red {
  background-color: #fb565a;
}

.advantages-list__btn--green {
  background-color: #00ca74;
}

.advantages-list__btn--green:hover,
.advantages-list__btn--green:focus {
  background-color: #00bc6c;
}
.advantages-list__btn--green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00bc6c;
  -webkit-box-shadow: inset 0 3px 0 0 #009957;
  box-shadow: inset 0 3px 0 0 #009957;
}

.advantages-list__btn--yellow {
  background-color: #efc84a;
}

.advantages-list__btn--yellow:hover,
.advantages-list__btn--yellow:focus {
  background-color: #eab534;
}
.advantages-list__btn--yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #eab534;
  -webkit-box-shadow: inset 0 3px 0 0 #ce961e;
  box-shadow: inset 0 3px 0 0 #ce961e;
}

.main-content__about-studio {
  padding-top: 40px;
}

.main-content__about-studio .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 37px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.main-content__about-studio .container {
  border-bottom: 2px solid #eeeeee;
}

.left-side {
  width: 660px;
}

.right-side {
  width: 360px;
}

.about__slogan {
  margin-top: 34px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  letter-spacing: 0.1px;
}

.about__text {
  margin-bottom: 39px;

  font-size: 16px;
  line-height: 25px;
  color: #283136;
}

.about__features-title {
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.about__feature {
  position: relative;

  margin-bottom: 24px;
  margin-left: 36px;
}

.about__feature::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #fb5559;
}

.about__logo {
  margin-bottom: 14px;
}

.about__statistic-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.about__statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 344px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.about__statistic-item {
  width: 105px;
}

.about__percent {
  margin-bottom: 36px;

  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.about__percent span {
  font-size: 25px;
  vertical-align: super;
}

.about__text--low {
  line-height: 18px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 47px;
  padding-bottom: 36px;

  border-bottom: 2px solid #eeeeee;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.partners__item {
  position: relative;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 280px;
  margin-right: 18px;
}

.partners__item:after {
  content: "";
  position: absolute;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.partners__item:nth-child(4n + 1):after {
  top: 16px;
  right: -1px;
}

.partners__item:nth-child(4n + 2):after {
  top: 16px;
  right: -3px;
}

.partners__item:nth-child(4n + 3):after {
  top: 16px;
  right: -5px;
}

.partners__item:nth-child(4n + 4):after {
  display: none;
}

.partners__item:first-child {
  padding: 15px 0 0 31px;
}

.partners__item:nth-child(2) {
  padding: 0 0 0 28px;
}

.partners__item:nth-child(3) {
  padding: 18px 0 0 42px;
}

.partners__item:last-child {
  padding: 5px 0 0 50px;
}

.partners__item:nth-of-type(4n + 4) {
  width: 260px;
  margin-right: 0;
}

.partners__link {
  opacity: 0.2;
}

.partners__link:hover,
.partners__link:focus {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}

.partners__img {
  position: relative;
}

.page-content .columns {
  flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.filter {
  width: 260px;
}

.form {
  padding-top: 2px;
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.form__fieldset--radio {
  margin-bottom: 26px;
}

.form__fieldset--features {
  margin-bottom: 30px;
}

.form__fieldset--features .form__title {
  letter-spacing: 0.1px;
}

.form__title {
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.form__title--list-title {
  margin-bottom: 15px;
}

.form__field {
  display: none;
}

.range {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  height: 80px;
  margin-bottom: 13px;

  background-color: #ededed;
  border-radius: 3px;
}

.line {
  width: 219px;
  height: 2px;
  margin: auto;

  background-color: #d7dbdd;
}

.green-line {
  width: 151px;
  height: 2px;

  background-color: #00ca74;
}

.handler {
  position: absolute;
  top: 30px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 #cccccc;
  box-shadow: 0 2px 0 0 #cccccc;
  cursor: pointer;
}

.handler--left {
  left: 18px;
}

.handler--right {
  left: 160px;
}

.form__number-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.form__list-item {
  margin-bottom: 16px;
  padding-left: 37px;
}

.form__item-title {
  position: relative;

  margin-right: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.form__item-title--capitalize {
  text-transform: capitalize;
}

.form__number-field {
  width: 80px;
  height: 38px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.form__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.form__list--grids .form__item-title::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;

  display: block;
  width: 17px;
  height: 17px;

  border: 4px solid #b8b8b8;
  border-radius: 50%;
  opacity: 0.4;
}

.form__fieldset--features .form__item-title::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;

  display: block;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

.form__list--grids .form__item-title::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -28px;

  display: block;
  width: 9px;
  height: 9px;

  background-color: #b8b8b8;
  border-radius: 50%;
  opacity: 0;
}

.form__list--grids .form__field:checked ~ .form__item-title::after {
  opacity: 0.4;
}

.form__fieldset--features .form__field:checked ~ .form__item-title::before {
  width: 26px;

  background-image: url("../img/checkbox-on.svg");
}

.form__fieldset .form__item-title:hover::before,
.form__list--grids .form__field:checked ~ .form__item-title:hover::after {
  opacity: 1;
}

.form__list--grids .form__field:disabled ~ .form__item-title::after,
.form__list--grids .form__field:disabled ~ .form__item-title::before {
  opacity: 0.1;
}

.form__fieldset--features .form__field:disabled ~ .form__item-title::after,
.form__fieldset--features .form__field:disabled ~ .form__item-title::before {
  opacity: 0.1;
}

.form__button {
  padding: 16px 89px;

  color: #000000;

  background-color: #eeeeee;
  border: none;
}

.form__button:hover,
.form__button:focus {
  background-color: #dfdfdf;
}

.form__button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #c0c0c0;
  box-shadow: inset 0 3px 0 0 #c0c0c0;
}

.products {
  width: 760px;
}

.sorting {
  margin-bottom: 50px;
}

.sorting__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.sorting__title {
  margin: 0;
  margin-right: auto;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.sorting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting__list-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 273px;
  margin-top: 7px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.sorting__item a {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto";
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.sorting__item a:hover,
.sorting__item a:focus {
  opacity: 0.6;
}

.sorting__item a:active {
  opacity: 1;
}

.active a {
  opacity: 1;
}

.active a:hover,
.active a:focus {
  opacity: 1;
}

.sorting__list-direction {
  justify-content: flex-end;
  align-items: center;
  width: 60px;
  margin-left: 27px;

  -webkit-box-align: center;
  -webkit-box-pack: end;
  -ms-flex-align: center;
  -ms-flex-pack: end;
}

.sorting__link--direction {
  position: relative;

  display: block;
  width: 17px;
  height: 17px;
  margin-left: 10px;
}

.sorting .form__title {
  margin-bottom: 0;
}

.sorting__link--direction::after {
  content: "";
  position: absolute;
  top: 3px;

  width: 11px;
  height: 11px;

  background-repeat: no-repeat;
}

.sorting__item:first-child .sorting__link--direction::after {
  top: 3px;
  left: 3px;

  background-image: url("../img/icon-down-dir.svg");
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}

.sorting__item:last-child .sorting__link--direction::after {
  left: 5px;

  background-image: url("../img/icon-up-dir.svg");
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 27px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.products__item {
  position: relative;

  width: 360px;
  height: 576px;
  margin-bottom: 33px;
  padding-top: 40px;
}

.products__image-wrapper {
  position: relative;
}

.products__image-wrapper::before {
  content: "";
  position: absolute;
  top: -41px;
  left: 0;

  display: block;
  width: 362px;
  height: 42px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.12;
}

.products__img {
  border: 1px solid #e9e9e9;
  border-top: none;
}

.products__description {
  position: absolute;
  bottom: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 361px;
  height: 231px;
  overflow: hidden;

  background-color: #e9e9e9;
  opacity: 0;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
}

.products__item-title {
  margin-top: 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.products__item-title:hover,
.products__item-title:focus {
  color: #fb565a;
}

.products__item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.products__text {
  display: inline-block;
  width: 230px;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.products__btn {
  display: inline-block;
  padding: 19px 62px;
}

.products__item:hover {
  -webkit-box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.products__item:hover .products__description {
  opacity: 1;
}

.products__item:hover .products__image-wrapper::before {
  opacity: 1;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.pagination__item {
  margin-right: 11px;
  margin-bottom: 11px;
}

.pagination__btn {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;

  color: #000000;

  background-color: #eeeeee;
}

.pagination__btn:hover,
.pagination__btn:focus {
  background-color: #dfdfdf;
}

.pagination__btn:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #c0c0c0;
  box-shadow: inset 0 3px 0 0 #c0c0c0;
}

.pagination__btn--small {
  padding: 18px 21px;
}

.current {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.current:hover,
.current:focus,
.current:active {
  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination__btn--big {
  width: 260px;
  padding-top: 18px;

  text-align: center;
}

.pagination__btn--back {
  margin-right: 11px;
}

.page-footer {
  margin-top: 80px;
}

.inner-page .page-footer {
  margin-top: 60px;
}

.page-footer iframe {
  width: 100%;
  height: 416px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-footer__contacts {
  position: relative;

  margin: 0 auto;
  margin-bottom: 39px;
}

.contacts {
  position: absolute;
  top: 55px;
  left: 373px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 319px;
  max-width: 1160px;
  padding-top: 30px;
  padding-right: 45px;
  padding-left: 50px;

  background-color: #ffffff;
}

.contacts__title {
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__address,
.contacts__phone {
  line-height: 18px;
  color: #666666;
}

.contacts__address {
  margin-bottom: 19px;
}

.contacts__phone {
  margin-bottom: 36px;
}

.contacts__btn {
  margin-bottom: 47px;
  padding: 15px 45px 17px 44px;
}

.page-footer__slogan {
  margin-top: 30px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  letter-spacing: 0.2px;
}

.page-footer__text {
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.page-footer__wrapper {
  display: block;
  width: 760px;
}

.page-footer__social {
  padding-bottom: 55px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  width: 260px;
  margin-top: 22px;
  margin-right: 140px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-item-align: start;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.social-list__item {
  display: inline-block;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-list__item a {
  display: inline-block;
  width: inherit;
  height: inherit;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.vk {
  background-image: url("../img/vk-icon.svg");
  background-size: 30%;
  opacity: 1;
}

.facebook {
  background-image: url("../img/fb-icon.svg");
  background-size: 15%;
  opacity: 1;
}

.instagram {
  background-image: url("../img/insta-icon.svg");
  background-size: 25%;
  opacity: 1;
}

.social-list__item:hover,
.social-list__item:focus {
  background-color: #e74246;
}

.social-list__item a:active {
  opacity: 0.3;
}

.write-us {
  position: fixed;
  top: 220px;
  left: 473px;
  z-index: 30;

  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  padding-top: 67px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.write-us .container {
  width: 760px;
  margin: 0 auto;
}

.write-us .columns {
  flex-wrap: wrap;
  margin-bottom: 34px;

  -ms-flex-wrap: wrap;
}

.write-us .column {
  width: 360px;
}

.write-us .column:first-child {
  margin-right: 40px;
}

.write-us fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.write-us__title {
  margin-bottom: 41px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.write-us__label {
  display: block;
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.write-us__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 19px 13px;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.write-us__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.write-us__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.write-us__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.write-us__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.write-us__textarea {
  width: 730px;
  height: 90px;
  margin-bottom: 40px;
  padding: 12px 13px;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;

  resize: none;
}

.write-us__btn {
  margin-bottom: 60px;
  padding: 16px 84px;

  border: none;
}

.close__btn {
  position: absolute;
  top: 78px;
  right: 90px;

  display: block;
  width: 21px;
  height: 21px;

  background-image: url("../img/close-cross.svg");
  border: none;
  opacity: 0.3;
}

.close__btn:hover,
.close__btn:focus {
  opacity: 1;
}

.close__btn:active {
  opacity: 0.2;
}

.modal-show {
  display: block;

  -webkit-animation: open 0.5s;
  animation: open 0.5s;
}

.modal-error {
  -webkit-animation: shake 0.3s;
  animation: shake 0.3s;
}

@-webkit-keyframes open {
  0% {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
  45% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }

  60% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }

  75% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes open {
  0% {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
  45% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }

  60% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }

  75% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }

  25% {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
  50% {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }

  25% {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
  50% {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
