@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

body {
  min-width: 1200px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 16px 55px 16px 54px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13034;
}

.list-formatter {
  margin: 0;
  padding: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.columns {
  display: flex;
}

/* Header */

.page-header {
  padding-top: 49px;
  /* padding-bottom: 10px; */

  background-color: #eeeeee;
}

.page-header .columns {
  justify-content: space-between;
  align-items: flex-start;
}

.page-header__container {
  margin-right: 45px;
}

.inner-page .page-header__logo:hover,
.inner-page .page-header__logo:focus {
  opacity: 0.8;
}

.inner-page .page-header__logo:active {
  opacity: 0.3;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 440px;
  margin-top: 26px;
  margin-right: 40px;
}

.menu__item {
  margin-right: 45px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:last-child a {
  letter-spacing: 0.3px;
}

.menu__item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.menu__item a:hover,
.menu__item a:focus {
  color: #fb565a;
}

.menu__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu__item--current {
  border-bottom: 2px solid #fb565a;
}

.page-header__cart {
  margin-top: 27px;
  margin-left: 45px;
  padding-left: 42px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 2px 6px;
}

.page-header__cart:hover,
.page-header__cart:focus {
  color: #fb565a;
}

.page-header__cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-content__main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

/* Slider */

.main-content__slider {
  background-color: #eeeeee;
}

.main-content__slider .container {
  position: relative;
}

.slider__input {
  display: none;
}

.slider__change-btn {
  position: absolute;
  top: 309px;
  right: 535px;
  z-index: 10;

  display: inline-block;
  width: 20px;
  height: 20px;

  vertical-align: middle;
}

.slider__change-btn:nth-of-type(1) {
  right: 605px;
}
.slider__change-btn:nth-of-type(2) {
  right: 570px;
}
.slider__change-btn:nth-of-type(3) {
  right: 535px;
}

.slider__change-btn::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;

  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
}

.slider__change-btn::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;

  display: none;
  width: 4px;
  height: 4px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__input:nth-of-type(1):checked ~ .slider__change-btn:nth-of-type(1)::after {
  display: block;
}

.slider__input:nth-of-type(2):checked ~ .slider__change-btn:nth-of-type(2)::after {
  display: block;
}

.slider__input:nth-of-type(3):checked ~ .slider__change-btn:nth-of-type(3)::after {
  display: block;
}

.sliders__item {
  position: relative;

  display: none;
  margin-bottom: 80px;
  padding-top: 10px;
  padding-bottom: 80px;
}

.sliders__wrapper {
  width: 560px;
}

.sliders__slogan {
  margin-top: 61px;
  margin-bottom: 27px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.sliders__item:nth-of-type(2) .sliders__slogan {
  width: 520px;

  letter-spacing: 0.1px;
}

.sliders__item:nth-of-type(3) .sliders__slogan {
  width: 420px;

  letter-spacing: 0.4px;
}

.sliders__text {
  margin-bottom: 38px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.sliders__item img {
  position: absolute;
}

.sliders__item:nth-of-type(1) img {
  top: 11px;
  right: 31px;
}

.sliders__item:nth-of-type(2) img {
  top: -6px;
  right: 1px;
}

.sliders__item:nth-of-type(3) img {
  top: 12px;
  right: 0;
}

.sliders__item:nth-of-type(2) .sliders__text {
  width: 410px;
}

.sliders__item:nth-of-type(3) .sliders__text {
  width: 370px;
}

.slider__input:nth-of-type(1):checked ~ .sliders__item:nth-of-type(1) {
  display: flex;
}

.slider__input:nth-of-type(2):checked ~ .sliders__item:nth-of-type(2) {
  display: flex;
}
.slider__input:nth-of-type(3):checked ~ .sliders__item:nth-of-type(3) {
  display: flex;
}

/* Advantages */

.main-content__advantages {
  background-color: #ffffff;
}

.advantages-list {
  justify-content: space-between;

  border-bottom: 2px solid #eeeeee;
}

.advantages-list__item {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 67px;
}

.advantages-list__title {
  margin-top: 23px;
  margin-bottom: 21px;

  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list__text {
  width: 260px;
  margin-bottom: 32px;
}

.advantages-list__item:nth-of-type(1) .advantages-list__text {
  letter-spacing: -0.1px;
}

.advantages-list__item:nth-of-type(2) .advantages-list__text {
  letter-spacing: 0.2px;
}

.advantages-list__btn {
  margin-bottom: 13px;
  padding: 16px 40px 16px 40px;
}

.advantages-list__btn--red {
  background-color: #fb565a;
}

.advantages-list__btn--green {
  background-color: #00ca74;
}

.advantages-list__btn--green:hover,
.advantages-list__btn--green:focus {
  background-color: #00bc6c;
}
.advantages-list__btn--green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00bc6c;
  box-shadow: inset 0 3px 0 0 #009957;
}

.advantages-list__btn--yellow {
  background-color: #efc84a;
}

.advantages-list__btn--yellow:hover,
.advantages-list__btn--yellow:focus {
  background-color: #eab534;
}
.advantages-list__btn--yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #eab534;
  box-shadow: inset 0 3px 0 0 #ce961e;
}

/* About */
.main-content__about-studio {
  padding-top: 40px;
}

.main-content__about-studio .columns {
  padding-bottom: 37px;
}

.main-content__about-studio .container {
  border-bottom: 2px solid #eeeeee;
}

.main-content__about-studio .columns {
  justify-content: space-between;
}

.left-side {
  width: 660px;
}

.right-side {
  width: 360px;
}

.about__slogan {
  margin-top: 34px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  letter-spacing: 0.1px;
}

.about__text {
  margin-bottom: 39px;

  font-size: 16px;
  line-height: 25px;
  color: #283136;
}

.about__features-title {
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.about__feature {
  position: relative;

  margin-bottom: 24px;
  margin-left: 36px;
}

.about__feature::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #fb5559;
}

.about__logo {
  margin-bottom: 14px;
}

.about__statistic-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.about__statistics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 344px;
}

.about__statistic-item {
  width: 105px;
}

.about__percent {
  margin-bottom: 36px;

  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.about__percent span {
  font-size: 25px;
  vertical-align: super;
}

.about__text--low {
  line-height: 18px;
}

/* Partners */

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 47px;
  padding-bottom: 36px;

  border-bottom: 2px solid #eeeeee;
}

.partners__item {
  position: relative;

  box-sizing: border-box;
  width: 280px;
  margin-right: 18px;
}

.partners__item:after {
  content: "";
  position: absolute;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.partners__item:first-child:after {
  top: 16px;
  right: -1px;
}

.partners__item:nth-child(2):after {
  top: 16px;
  right: -3px;
}

.partners__item:nth-child(3):after {
  top: 16px;
  right: -5px;
}

.partners__item:last-child:after {
  display: none;
}

.partners__item:first-child {
  padding: 15px 0 0 31px;
}

.partners__item:nth-child(2) {
  padding: 0 0 0 28px;
}

.partners__item:nth-child(3) {
  padding: 18px 0 0 42px;
}

.partners__item:last-child {
  width: 260px;
  margin-right: 0;
  padding: 5px 0 0 50px;
}

.partners__link {
  opacity: 0.2;
}

.partners__link:hover,
.partners__link:focus {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}

.partners__img {
  position: relative;
}

/* Filter */

.form__fieldset {
  border: none;
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0;
}

.form__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.form__number-field {
  width: 80px;
  height: 38px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.form__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.form__button {
  padding: 19px 89px;

  color: #000000;

  background-color: #eeeeee;
  border: none;
}

.form__button:hover,
.form__button:focus {
  background-color: #dfdfdf;
}

.form__button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #c0c0c0;
}

/* Products */

.products__item {
  position: relative;

  width: 360px;
  height: 576px;
  margin-top: 50px;
  margin-left: 20px;

  border: 1px solid #e9e9e9;
  border-top: none;
}

.products__item::before {
  content: "";
  position: absolute;
  top: -41px;
  left: -1px;

  width: 362px;
  height: 42px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.12;
}

.products__description {
  position: absolute;
  top: 345px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 360px;
  height: 231px;

  background-color: #e9e9e9;
  opacity: 0;
}

.products__item-title {
  margin-top: 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.products__item-title:hover,
.products__item-title:focus {
  color: #fb565a;
}

.products__item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.products__text {
  display: inline-block;
  width: 230px;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.products__btn {
  display: inline-block;
  padding: 19px 62px;
}

.products__item:hover .products__description {
  opacity: 1;
}

.products__item:hover::before {
  opacity: 1;
}
/*  Pagination */

.pagination__btn {
  color: #000000;

  background-color: #eeeeee;
}

.pagination__btn:hover,
.pagination__btn:focus {
  background-color: #dfdfdf;
}

.pagination__btn:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #c0c0c0;
}

.pagination__btn--small {
  padding: 19px 23px;
}

.current {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  border-radius: 3px;
}

/* Footer */

.page-footer {
  margin-top: 80px;
}

.page-footer__contacts {
  position: relative;

  margin: 0 auto;
  margin-bottom: 46px;
  padding-top: 55px;
  padding-bottom: 54px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1440px;
}

.contacts {
  box-sizing: border-box;
  width: 319px;
  padding-top: 30px;
  padding-left: 30px;
  padding-left: 50px;

  background-color: #ffffff;
}

.contacts__title {
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__address,
.contacts__phone {
  line-height: 18px;
  color: #666666;
}

.contacts__address {
  margin-bottom: 19px;
}

.contacts__phone {
  margin-bottom: 36px;
}

.contacts__btn {
  margin-bottom: 47px;
  padding: 15px 45px 17px 44px;
}

.page-footer__slogan {
  margin-top: 30px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  letter-spacing: 0.2px;
}

.page-footer__text {
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.page-footer__wrapper {
  display: block;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin-top: 10px;
  margin-right: 140px;
}

.social-list__item {
  display: inline-block;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-list__item a {
  display: inline-block;
  width: inherit;
  height: inherit;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.vk {
  background-image: url("../img/vk-icon.svg");
  background-size: 30%;
  opacity: 1;
}

.facebook {
  background-image: url("../img/fb-icon.svg");
  background-size: 15%;
  opacity: 1;
}

.instagram {
  background-image: url("../img/insta-icon.svg");
  background-size: 25%;
  opacity: 1;
}

.social-list__item:hover,
.social-list__item:focus {
  background-color: #e74246;
}

.social-list__item a:active {
  opacity: 0.3;
}

/* Write-us */
.write-us fieldset {
  border: none;
}
.write-us__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.write-us__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.write-us__input {
  width: 360px;
  padding: 19px 13px;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.write-us__textarea {
  width: 760px;
  height: 118px;
  padding: 19px 13px;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;

  resize: none;
}

.write-us__btn {
  padding: 19px 84px;

  border: none;
}
